.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
}
.dialogsItems .active {
    color: rgb(30, 77, 158);
}
.dialogsItems .dialog {

}

.messages {
    padding: 15px;
}

.messages .message {
}
